-@questions.each_with_index do |question, index|
  %div.question-box
    %div.question-image.col-lg-10
      %img{ src: @image_links[index] }
    %div.question-set.col-lg-2
      %h3.title=question[:title]
      -question[:answers].each do |answer|
        %div{class:'answer btn hoverable', data: { right: answer[:right].to_s } }
          =answer[:title]
      %div.author-info-button.btn
        Author Informationen
      %div.next-slide.btn.btn-success
        Nächste
